zuul:
  ignored-services: '*'
  routes:
    zuulservice:
      path: /self/**
      serviceId: zuul-service
    catalogservice:
      path: /catalog/**
      serviceId: catalog-service
    orderservice:
      path: /orderservice/**
      serviceId: order-service
    customerservice:
      path: /customerservice/**
      serviceId: customer-service
    orderprocessservice:
      path: /orderprocessservice/**
      serviceId: order-process-service
ribbon:
  eureka:
    enabled: true

server:
  port: 11130

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:11140/eureka
  instance:
    lease-renewal-interval-in-seconds: 5
    prefer-ip-address: true
spring:
  application:
    name: zuul-service