zuul:
  ignored-services: '*'
  routes:
    zuulservice:
      path: /self/**
      serviceId: zuul-service
    catalogservice:
      path: /catalog/**
      serviceId: catalog-service
    orderservice:
      path: /orderservice/**
      serviceId: order-service
ribbon:
  eureka:
    enabled: true

server:
  port: 11130

security:
  oauth2:
    client:
      client-id: kantilever
      client-secret: kantiSecret
      access-token-uri: http://localhost:11150/oauth/check_token
    resource:
      token-info-uri: http://localhost:11150/oauth/check_token
  basic:
    enabled: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:11140/eureka
  instance:
    lease-renewal-interval-in-seconds: 5
    prefer-ip-address: true
spring:
  application:
    name: zuul-service